// body {
//   font-family: "Roboto", sans-serif;
// }

// /* Roboto Regular (400) */
// .roboto-regular {
//   font-family: "Roboto", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
//   font-variation-settings: "wght" 400;
// }

// /* Roboto Medium (500) */
// .roboto-medium {
//   font-family: "Roboto", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 500;
//   font-style: normal;
//   font-variation-settings: "wght" 500;
// }

// /* Roboto Bold (700) */
// .roboto-bold {
//   font-family: "Roboto", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 700;
//   font-style: normal;
//   font-variation-settings: "wght" 700;
// }


/* src/styles/fonts.css */

/* Roboto Regular (400) */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:small;
}

/* Roboto Medium (500) */
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Roboto Bold (700) */
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size:larger;
}