* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.loginBg {
  background-image: url("./loginImage.png");
}

.topHeading {
  font-size: 2.4rem;
}

.storyHead {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.bookImg {
  height: 40px;
  font-size: 4rem;
  /* margin-left: 8px; */
}

.storyPara {
  margin-top: 1rem;
  font-size: 20px;
}

.home-top {
  padding: 4rem;
  width: 80%;
}
