* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.loginBg {
  background-image: url("./loginImage.png");
}

.bookImg {
  height: 40px;

  font-size: 4rem;
}

.home-top {
  padding: 4rem;
  width: 80%;
}
