.rightCardCont {
    padding-inline: 12px;
    background-color: pink;
    color: black;
    border-radius: 0px 12px 12px 0px;
}

.cardPara {
    color: gray;
    padding-block: 10px;
    text-align: center;
}

.cardInp {
    padding: 13px;
    border: none;
    border-radius: 12px 0px 0px 12px;
}

.cardBtn {
    background-color: #CD4631;
    padding: 13px;
    border-radius: 0px 12px 12px 0px;
    border: none;
    color: white;
}

.girlImage {
    height: 11rem;

    padding-inline: 6rem;
}

.parahead {
    text-align: center;
    margin-block: 0.6rem;
}

.postImg {
    width: 87px;
    height: 80px;
    border-radius: 8px;
}

.postHead {
    padding: 18px 0;
    font-size: 13px;
}
.cardLeftImg {
    height: 26rem;
    border-radius: 10px 0 0 10px;
    display: "flex";
}

.postCardCont {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-inline: 10px;
}

.postcardList {
    display: flex;
    padding-block: 1rem;
    align-content: center;
    width: 320px;
    height:87px
}

.postdetail {
    display: flex;
    font-size: 12px;
    gap: 10px;
    margin-top: 7px;
    color: gray;
}


