.latestAction {
    background-color: transparent;
    color: white;
    padding: 0.8rem;
    border-radius: 1.3rem;
    border: 1px solid white;
    font-family: monospace;
    font-weight: bold;
}

.latest_head {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.latest_cont {
    display: flex;
    height: 350px;
    padding: 2rem;
    position: relative;
}

.imageList {
    position: absolute;
    height: 15rem;
}

.latestActionBtn {
    color: black;
    background-color: white;
    border-radius: 1rem;
    padding-top: 5px;
    padding-inline: 6px;
    border: none;
    font-size: larger;
    cursor: pointer;
    transition: transform 0.2s ease-out;

}

.latestActionBtn:hover {
    transform: scale(1.1);
}

.latestBtnHead {
    position: absolute;
    top: 8rem;
}

.latestRightBtnHead {
    position: relative;
    top: 6rem;
}

.imageListCont {
    display: flex;
    justify-content: center;
    width: 100%;
}