.navHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 3rem;
  background-color: #cd4631;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-logo img {
  height: auto;
}

.navActions {
  display: flex;
  gap: 1rem;
  align-items: center;

}

.nav-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.nav-links a {
  position: relative;
  text-decoration: none;
  color: white;
  transition: border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}

.nav-links a:hover,
.nav-links a.active {
  border-bottom: 2px solid white;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-search {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  color: #666;

}

.themeToggle {
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: white;
  font-size: larger;
  margin-top: 10px;
  margin-right: 10px;
}

.nav-search i {
  margin-right: 0.5rem;
}

.nav-search input {
  border: none;
  background: transparent;
  outline: none;
  width: 150px;
  padding: 4px;
}

.searchBtn {
  padding: 0.5rem 1rem;
  color: #d43939;
  border: none;
  font-weight: bold;
  border-radius: 0.6rem;
  cursor: pointer;
}

.searchBtn:hover {
  background-color: #d43939;
  color: white;
  border: 1px solid white;
}