.newsButton {
  background-color: #cd4631;
  width: fit-content;
  padding: 10px;
  border: none;
  border-radius: 7px;
  font-weight: 500;
  font-size: large;
  color: white;
  cursor: pointer;
}

.Newsdetail {
  background-color: rgba(241, 238, 238, 0.3);
  color: white;
  padding: 20px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.NewsCont {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
}

.NewsHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
   @media (max-width: 715px){
    font-size: small;
    padding-inline: 10px;
   }

}

.newsIcon{
  // height: 3rem;
}

.news {
  @media (max-width: 715px) {
    width: 70%;
    height: 14rem;
  }
}