.podcastImg{
  height: 4rem;
  border-radius: 0.5rem;
//   padding-inline:1rem ;
}

.soundwave{
    padding: 1rem;
}

.soundtrack{
    width: 100px;
    height: 10px;
    padding-inline: 3px;
}

.ads2Img{
    height: 200px;
    width: 350px;
    margin-bottom: -4px;
}

.ads2{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
    height: auto;
    width: 350px;
}